.home {
	flex-grow: 1;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 600;
}

.home .title {
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.home .title p {
	line-height: 60px;
}

.home .title button {
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	margin-top: 30px;
	color: #ffffff;
	padding: 10px 15px;
	border-radius: 999px;
	background-color: #625afd;
	font-family: "Righteous", cursive;
}

.home .person {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.home .person img {
	width: 100%;
}

@media (min-width: 750px) {
	.home {
		flex-direction: row;
		justify-content: space-between;
	}
	.home .title,
	.home .person {
		width: 100%;
		text-align: left;
		font-size: 22px;
	}
	.home .person img {
		width: 100%;
	}
}

@media (max-width: 750px) {
	.home {
		margin-top: 10%;
	}
	.home .person img {
		width: 95%;
	}
	.home .person {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}
