.app {
	display: flex;
	margin: 0 auto;
	max-width: 1280px;
	min-height: 100vh;
	border-radius: 10px;
	flex-direction: column;
	background-color: white;
}

@media (min-width: 800px) {
	.app {
		padding: 0 150px;
		min-height: 90vh;
	}
}
