* {
	padding: 0;
	margin: 0;
	color: #313131;
	font-family: "Montserrat", sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1280px;
}

p {
	line-height: 20px;
}
